@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Black.ttf) format('truetype');
    font-weight: 900;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    width: 1020px;
    background-color: #2d303a;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 89px 6px;
    align-items: center;
}

.header-title,
h1 {
    margin: 0;
    font-size: 25px;
    padding: 0 40px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    justify-self: start;
}

header nav {
    margin: 0;
    padding-right: 40px;
    padding-top: 8px;
    justify-self: end;
}

header nav ul {
    display: inline-flex;
    grid-template-rows: repeat(5, 1fr);
}

header nav ul li {

    padding-left: 15px;
    list-style-type: disc;
    list-style-position: inside;
}

header nav ul li {
    font-size: 10px;
    color: #494e62;
}

header nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
}

header nav ul li a:hover,
header nav ul li.active a {
    color: #f06c64;
}

header nav ul li.active {
    list-style-type: none;
}

.header-bottom {
    background-color: #323746;
    grid-column: 1 / span 2;
    width: 100%;
    height: 6px;
}

.slider {
    display: grid;
    padding: 50px 40px;
    width: 1020px;
    height: 600px;
    background-color: #ef6c64;
    grid-template-columns: 16px 1fr 2fr 16px;
    grid-column-gap: 50px;
    align-items: center;

}

.slider .iphone-horizontal,
.slider .right-button {
    justify-self: end;
    margin-right: 5px;
}


.service {
    padding: 55px 40px;
    display: grid;
    grid-gap: 20px;
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    grid-template-columns: 3fr 11fr 3fr 11fr 3fr 11fr;
    color: #767e9e;
    font-family: "Lato";
}

.service .our-services-title {
    grid-column: 1 / span 6;
}

.service .our-services-title h2 {
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    line-height: 150%;


}

.service .our-services-title p {
    padding-top: 13px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.service p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
}

.service h3 {
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    line-height: 30px;
    padding-bottom: 5px;
}

.service div.sv-img {
    padding-top: 7px;
}